{#  -*- coding: utf-8 -*- #}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% macro html_headstart() %}
<!DOCTYPE html>
<html

prefix='
og: http://ogp.me/ns# article: http://ogp.me/ns/article#
{% if comment_system == 'facebook' %}
fb: http://ogp.me/ns/fb#
{% endif %}
'
{% if is_rtl %}
dir="rtl"
{% endif %}

lang="{{ lang }}">
    <head>
    <meta charset="utf-8">
    {% if description %}
    <meta name="description" content="{{ description|e }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if title == blog_title %}
        <title>{{ blog_title|e }}</title>
    {% else %}
        <title>{{ title|e }} | {{ blog_title|e }}</title>
    {% endif %}

    {{ html_stylesheets() }}
    <meta name="theme-color" content="{{ theme_color }}">
    {% if meta_generator_tag %}
    <meta name="generator" content="Nikola (getnikola.com)">
    {% endif %}
    {{ html_feedlinks() }}
    <link rel="canonical" href="{{ abs_link(permalink) }}">

    {% if favicons %}
        {% for name, file, size in favicons %}
            <link rel="{{ name }}" href="{{ file }}" sizes="{{ size }}"/>
        {% endfor %}
    {% endif %}

    {% if comment_system == 'facebook' %}
        <meta property="fb:app_id" content="{{ comment_system_id }}">
    {% endif %}

    {% if prevlink %}
        <link rel="prev" href="{{ prevlink }}" type="text/html">
    {% endif %}
    {% if nextlink %}
        <link rel="next" href="{{ nextlink }}" type="text/html">
    {% endif %}

    <!--[if lt IE 9]><script src="{{ url_replacer(permalink, '/assets/js/html5.js', lang, url_type) }}"></script><![endif]-->

    {{ extra_head_data }}
{% endmacro %}

{% macro late_load_js() %}
    {{ social_buttons_code }}
{% endmacro %}


{% macro html_stylesheets() %}
    <link href="/assets/css/rst.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/code.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/theme.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css">
    {#
    <link href="/assets/css/ipython.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/nikola_ipython.css" rel="stylesheet" type="text/css">
    #}
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&family=Source+Code+Pro:wght@400;600&display=swap" rel="stylesheet">
{% endmacro %}

{% macro html_feedlinks() %}
    {{ feeds_translations.head(classification=None, kind='index', other=False) }}
{% endmacro %}

{% macro html_translations() %}
    {% for langname in translations|sort %}
        {% if langname != lang %}
            <li class="nav-item"><a href="{{ _link("root", None, langname) }}" rel="alternate" hreflang="{{ langname }}" class="nav-link">{{ messages("LANGUAGE", langname) }}</a></li>
        {% endif %}
    {% endfor %}
{% endmacro %}
